.faq {
  margin: 20px;
  padding: 20px;
  background-color: #f4f4f4;
}

.item {
  margin-bottom: 10px;
}

.question {
  width: 100%;
  padding: 10px;
  background-color: #333;
  color: white;
  border: none;
  text-align: left;
  cursor: pointer;
  font-size: 28px;
  display: flex;
  align-items: center;
}

.toggleIcon {
  margin-right: 10px;
  font-size: 16px;
  width: 20px; /* Fixed width for consistent alignment */
}

.answer {
  padding: 10px;
  background-color: white;
  border: 1px solid #ccc;
  font-size: 24px;
}

.title {
  font-size: 2em;
  font-weight: bold;
  text-align: center;
}

/* Adjustments for smaller screens */
@media (max-width: 1200px) {
  .question {
    font-size: 24px;
  }
  .answer {
    font-size: 20px;
  }
  .toggleIcon {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .question {
    font-size: 20px;
  }
  .answer {
    font-size: 18px;
  }
  .toggleIcon {
    font-size: 12px;
  }
  .title {
    font-size: 1.5em;
  }
}

@media (max-width: 480px) {
  .question {
    font-size: 18px;
  }
  .answer {
    font-size: 16px;
  }
  .toggleIcon {
    font-size: 10px;
  }
  .title {
    font-size: 1.2em;
  }
}
