.hero {
  position: relative;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: left;
  padding: 20px;
  font-size: 1.25rem;
  height: 80vh;
  overflow: hidden;
}

.gif {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
  animation: loop-animation infinite;
  background-color: black; /* Ensure the background is black */
}

.overlay {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.content {
  margin-right: 10%;
  margin-bottom: 2%;
  display: flex;
  flex-direction: column;
  z-index: 2;
}

.h1 {
  font-size: 3rem;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
  margin-bottom: 0.2em;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.dynamicWordContainer {
  display: inline-block;
  width: 7.5ch;
  text-align: center;
  white-space: nowrap;
}

.dynamicWord {
  color: #f36c43;
  transition: color 0.3s ease-in-out;
}

.ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 0;
  margin-top: 0;
}

.ul li {
  padding: 5px 0; 
  font-size: 1.6rem;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
  margin-left: 5%;
}

.ctaButton {
  color: white;
  transition: color 0.3s, background-color 0.3s;
  padding: 12px 20px;
  border-radius: 8px;
  background-color: rgba(255, 87, 34, 0.8);
  font-size: 1.2em;
  font-weight: bold;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  margin-top: 1.5em;
}

.ctaButton:hover {
  background-color: #ff5722;
}


@media (max-width: 1024px) {
  .hero {
    padding: 20px;
    height: auto;
    background-size: cover;
  }

  .h1 {
    font-size: 3rem;
    text-align: center;
  }

  .dynamicWordContainer {
    width: 8ch;
  }

  .ul li {
    font-size: 1.8rem;
    /* text-align: center; */
  }

  .content {
    margin-right: 0;
    margin-bottom: 0;
  }
}

@media (max-width: 821px) {
  .hero {
    padding: 20px;
    height: auto;
    background-size: cover;
  }

  .h1 {
    font-size: 3rem;
    text-align: center;
  }

  .dynamicWordContainer {
    width: 8ch;
  }

  .ul li {
    font-size: 1.2rem;
    /* text-align: center; */
  }

  .ctaButton {
    padding: 10px 18px;
    font-size: 1em;
    width: 100%; 
  }

  /* .content {
    margin-right: 0;
    margin-bottom: 0;
    align-items: center;
  } */
}

@media (max-width: 768px) {
  .hero {
    padding: 20px;
    height: auto;
    background-size: cover;
  }

  .h1 {
    font-size: 2rem;
    text-align: center;
  }

  .dynamicWordContainer {
    width: 8ch;
  }

  .ul li {
    font-size: 1.2rem;
  }

  .ctaButton {
    padding: 10px 18px;
    font-size: 1em;
    width: 100%; 
  }

  .content {
    margin-right: 0;
    margin-bottom: 0;
  }
}


@media (max-width: 430px) {
  .hero {
    padding: 20px;
    height: auto;
    background-size: cover;
  }

  .h1 {
    font-size: 2.4rem;
    text-align: center;
  }

  .dynamicWordContainer {
    margin-left: 10px;
    text-align: left;
  }

  .ul li {
    font-size: 1.2rem;
    /* text-align: center; */
  }

  .ctaButton {
    padding: 10px 18px;
    font-size: 1em;
    width: 100%; 
  }

  /* .content {
    margin-right: 0;
    margin-bottom: 0;
    align-items: center;
  } */
}
