/* src/components/Hero.module.css */
.hero {
  position: relative;
  background: url('/yellow_murci.png') no-repeat center center/cover;
  height: 480px;
  display: flex;
  justify-content: left;
  align-items: center;
  color: white;
  text-align: left;
  padding-left: 124px;
  padding-bottom: 5%;
  font-size: 1.25rem;
}

.hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6); /* Slightly darker for better text visibility */
  z-index: 1;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 960px;
  padding: 20px;
  z-index: 2;
}

.h1 {
  font-size: 3rem; /* Larger font size for main heading */
  font-weight: bold; /* Bold for impact */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8); /* Text shadow for better readability */
  margin-bottom: 0.2em; /* Consistent spacing */
}

.ul {
  padding-left: 0;
  margin-top: 0;
}

.ul li {
  padding: 5px 0; /* Added padding for list items */
  font-size: 1.6rem; /* Slightly larger font size for list items */
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7); /* Text shadow for better readability */
}

.ctaButton {
  color: white;
  transition: color 0.3s, background-color 0.3s;
  padding: 12px 20px;
  border-radius: 8px; /* More rounded edges */
  background-color: rgba(255, 87, 34, 0.8);
  font-size: 1.2em; /* Larger font size for better visibility */
  font-weight: bold; /* Bold text for emphasis */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); /* Box shadow for 3D effect */
  margin-top: 1.5em; /* Increased margin for better separation */
}

.ctaButton:hover {
  background-color: #ff5722; /* Brighter color on hover for better interaction feedback */
}

@media (max-width: 768px) {
  .hero {
    padding-left: 20px; /* Smaller padding on mobile */
    height: auto; /* Adjust height for mobile */
    background-size: cover; /* Ensure the background covers the smaller viewport */
  }

  .h1 {
    font-size: 2rem; /* Smaller font size for mobile */
  }

  .ul li {
    font-size: 1.2rem; /* Smaller font size for list items on mobile */
  }

  .ctaButton {
    padding: 10px 18px; /* Smaller padding for the button */
    font-size: 1em; /* Smaller font size for the button */
  }
}