/* src/components/Inventory/SearchFilter.module.css */
.searchContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
  gap: 10px;
}

.brand {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 136px; /* Set a consistent width */
  height: 50px; /* Adjust height if needed */
  padding: 5px; /* Adjust padding if needed */
  background-color: black;
  color: white;
  border-radius: 40px; /* Making the element oval-shaped */
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  box-sizing: border-box; /* Includes padding and border in the element's total width and height */
}

.brand:hover, .selected {
  background-color: orange;
  color: black;
}

.logo {
  height: 20px; /* Adjust size if necessary to fit within the brand height */
  margin-right: 10px;
}

.brandName {
  font-size: 14px; /* Adjust font size to ensure it fits within the button */
  font-weight: bold;
  white-space: nowrap; /* Prevent text wrapping */
}
