.container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center the container */
}

.innerContainer {
  width: 100%;
  margin: 0 auto; /* Center the inner container */
  padding: 20px;
  box-sizing: border-box;
}

.title {
  font-size: 1.7em;
  text-align: center;
}

.tabs {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap; /* Ensure the tabs stay in a single row */
  overflow-x: auto; /* Allow horizontal scrolling if needed */
  align-items: center; /* Center the items vertically */
}

.tab {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: black;
  font-weight: bold;
  font-size: 1.4em;
  transition: color 0.3s, background-color 0.3s;
  padding: 10px 20px;
  border-radius: 5px;
  margin: 10px 15px;
  flex: 1; /* Allow tabs to resize */
  border: 3px solid orange;
  text-align: center;
  width: 75%;
  position: relative; /* Position relative for the question mark icon */
}

.tabDescription {
  font-size: 0.8em;
}

.tab:hover {
  background-color: orange;
}

.activeTab {
  background-color: orange;
  text-decoration: none;
}

.escrowLogo {
  height: 30px;
  vertical-align: middle;
}

.questionMark {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: #fff;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  color: #000;
  border: 1px solid #000;
  cursor: pointer;
}

.content {
  margin-top: 20px;
}

/* Mobile adjustments */
@media (max-width: 768px) {
  .tabs {
    flex-direction: column; /* Stack the tabs vertically */
    width: 100%; /* Ensure the tabs take the full width */
  }

  .title {
    font-size: 1.5em;
    margin-bottom: 10px; /* Add some space between the title and tabs */
  }

  .tab {
    font-size: 1em;
    padding: 8px 10px;
    margin: 5px 0; /* Adjust margin for vertical stacking */
    flex-basis: 100%; /* Ensure consistent width for each tab */
  }

  .tabDescription {
    font-size: 0.8em;
  }
}
