.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  box-sizing: border-box;
}

.title {
  font-size: 2em;
  font-weight: bold;
  text-align: center;
}

.tabs {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.tab {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: black;
  font-weight: bold;
  font-size: 1.4em;
  transition: color 0.3s, background-color 0.3s;
  padding: 10px 20px;
  border-radius: 5px;
  margin: 10px 15px;
  width: calc(50% - 40px); /* Subtracting margins from total width */
  border: 3px solid orange;
}

.tab:hover {
  background-color: orange;
}

.activeTab {
  background-color: orange;
  text-decoration: none;
}

.escrowLogo {
  height: 30px;
  vertical-align: middle;
}

.content {
  margin-top: 20px;
}

.stepsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.step {
  flex: 1;
  min-width: 200px;
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.number {
  background-color: red;
  color: white;
  font-size: 20px;
  padding: 10px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.tabDescription {
  font-size: 0.8em;
  opacity: 0.7;
  margin-top: 5px;
}

/* Mobile adjustments */
@media (max-width: 768px) {
  .tab {
    font-size: 1em; /* Smaller font size for tabs */
    padding: 8px 10px; /* Adjust padding */
    margin: 5px; /* Smaller margins */
    width: calc(50% - 22px); /* Adjust width calculation for 2 tabs per row including margins */
  }

  .step {
    flex-basis: 100%; /* One step per row to prevent squeezing */
    max-width: calc(100% - 40px); /* Preventing overflow */
  }

  .title, .step, .tabDescription {
    font-size: 0.8em; /* Smaller font sizes for readability */
  }
}
